.info-body {
    height: 65vh;
    width: 50vw;
    min-width: 260px;
    max-width: 520px;
    order: 1;
    padding-bottom: 0vh;;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 2;
    animation: fade-in-animation 1.5s;
  }

.info-logo {
    height: 40vmin;
    pointer-events: none;
}
  
.info-bg-icon {
    position: absolute;
    top: 0;
    left: 20vmax;
    bottom: 20vmin;
    right: 0;
    margin: auto;
    height: 30vmax;
    max-height: 50vmin;
    opacity: 0.5;  
    z-index: 1;
    animation: fade-in-animation-icon 2s;
}

.info-temp, .info-desc-text {
    color: var(--mainWhite);
  }
  
 .info-temp {
    font-size: calc(30px + 12vmin);
    font-weight: 200;
    padding-left: 1vmax;
    padding-bottom: 5vh;
}
  
.info-space {
    height: 5vmin;
    min-height: 4vh;
}
  
.info-desc-text {
    font-size: calc(10px + 1vmin);
    padding-left: 1vmax;
    display: flex;
    align-items: center;
}

.info-desc-icon {
    font-size: calc(14px + 2vmin);
    padding-right: 1vmax;
}

@keyframes fade-in-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
  
@keyframes fade-in-animation-icon {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
}